[
  {poolgirl, [
    {size, 5},
    {chunk_size, 10},
    {max_age, 120000},
    {max_size, infinity},
    {clean_interval, 60000},
    {retry_interval, 10},
    {max_retry, 0},
    {pools, [
      {my_pool, [
        {size, 10},
        {chunk_size, 30},
        {max_age, 120000},
        {max_size, 100},
        {clean_interval, 60000}
      ]},
      {my_autostart_pool, [
        {autostart, true},
        {start, {module1, start_link, [arg1, arg2]}},
        {size, 5},
        {chunk_size, 10},
        {max_age, 120000},
        {max_size, infinity},
        {clean_interval, 60000},
        {retry_interval, 100},
        {max_retry, 2}
      ]},
      {my_start_pool, [
        {autostart, false}, % Default
        {start, {module2, start_link, [arg1, arg2]}},
        {size, 5},
        {chunk_size, 10},
        {max_age, 120000},
        {max_size, infinity},
        {clean_interval, 60000}
      ]}
    ]}
  ]}
].
